@import url('../../style/vars.css');

.header {
  display: flex;
  justify-content: center;
  height: 60px;
  background: var(--color-primary);
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 20px);
}

.header-content a {
  color: var(--color-white);
  /* margin-left: 20px; */
}
