:root {
  /* colors */
  --color-white: #ffffff;
  --color-black: #000000;
  /* --color-primary: #3f51b5; */
  --color-primary: rgb(77, 183, 217);
  --color-primary-d: #0087a7;
  --color-p-light: #757de8;
  --color-p-dark: #002984;
  /* --color-secondary: #9c27b0; */
  --color-secondary: rgb(229, 94, 100);
  --color-secondary-d: #ae2b3a;
  --color-s-light: #d05ce3;
  --color-s-dark: #6a0080;

  /* spacing */
  --pad: 0.5em;

  /* font */
  --font-xl: 2rem;
  --font-l: 1.5rem;
  --font-m: 1.2rem;
  --font-r: 1rem;
  --font-s: 0.8rem;
}
