.removed-for-description {
  text-align: left;
  padding: 10px 5px;
  border: 1px solid #ededed;
  margin-bottom: 20px;
}

.banned-for-heading {
  color: rgba(0, 0, 0, 0.54);
}

.banned-user-footer {
  display: grid;
  grid-auto-flow: column;
  justify-content: flex-end;
  grid-column-gap: 15px;
}
