.banned-submit-form {
  margin-top: 76px;
}

.banned-submit-form-form {
  display: grid;
  padding: 0 20px;
}

.banned-submit-form-buttons {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: center;
  grid-column-gap: 15px;
  margin-top: 20px;
}

/* date input style */

.date-input-container {
  position: relative;
  height: 48px;
  border-bottom: 1px solid grey;
  margin-top: 15px;
  margin-bottom: 8px;
}

.date-input-container label {
  position: absolute;
  left: 0;
  font-size: var(--font-s);
  color: rgba(0, 0, 0, 0.54);
}

.date-input-container input {
  height: 32px;
  font-size: var(--font-r);
  padding-top: 6px;
  padding-bottom: 7px;
  background: rgba(0, 0, 0, 0);
  border: none;
  margin-top: 16px;
  cursor: pointer;
}

.date-input-container:hover {
  border-bottom: 2px solid black;
}

.date-input-container hr {
  content: '';
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 2px;
  border: none;
  background: #303f9f;
  font-size: 1px;
  will-change: transform, visibility;
  transition: all 200ms ease-out;
  transform: scaleX(0);
  visibility: hidden;
  z-index: 10;
}

.date-input-container:focus-within:hover {
  border-bottom: 1px solid grey;
}

.date-input-container:focus-within label {
  color: #303f9f;
}

.date-input-container:focus-within hr {
  visibility: visible;
  transform: scaleX(1);
}
